.postsList{
    display: grid;
    grid-auto-rows: minmax(20rem, auto);
    grid-row-gap: 1rem;
}

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}

.deleteImg {
    height: 30px;
    width: 30px;
    cursor: pointer;
    opacity: 0.5;
    margin-right: 5px;

}
.deleteImg:hover {
    opacity: 1;
}

.editImg {
    height: 30px;
    width: 30px;
    cursor: pointer;
}


