.header {
    display: flex;
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 0;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    text-transform: uppercase;
    padding: 0 5rem;
    height: 6rem;
    background-color: #FF97BB;

    .header_logo {
        text-decoration: none;
        font-size: 40px;
        color: #4E4035;

        &:hover {
            background-color: #4E4035;
            color: #DDE2DC;
            padding: 0 5px;
            border-radius: 10px;
        }
    }

    .header_nav {

        .header_link {
            text-decoration: none;
            margin: 0 5px;
            font-size: 20px;
            color: #4E4035;

            &:hover {
                background-color: #4E4035;
                color: #DDE2DC;
                padding: 5px;
                border-radius: 10px;
            }
        }
    }
   
}
