.container {
    display: grid;
    grid-row-gap: 1rem;
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    width: 100%;
    min-height: 6rem;

    & .author {
        justify-self: start;
        font-weight: 600;
    }

    & .body{
        font-size: .8rem;
        text-align: justify;
    }
}
