.container {
    display: grid;
    grid-row-gap: 1rem;
    grid-auto-rows: 3fr 1fr;
    width: 100%;

    & textarea, button{
        border-radius: 0.5rem;
    }

    & textarea {
        resize: none;
        padding: 0.5rem 1rem;
    }

    & button {
        justify-self: end;
        padding: 0.5rem 1rem;
        width: 10rem;
        height: 2rem;
    }
}
