@import "_reset.scss";


body {
    font-family: 'Poppins';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(https://animeshka.org/uploads/posts/2022-09/1663672673_38-animeshka-org-p-fantastic-textures-teksturi-pinterest-51.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #4E4035;

    & #root {
        display: flex;
        flex-direction: column;
        max-width: 980px;
        margin: 0 auto;
    }
}
