

.post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: relative;
}

.deleteImg {
    height: 30px;
    width: 30px;
    cursor: pointer;
    opacity: 0.5;
    margin-right: 5px;

}
.deleteImg:hover {
    opacity: 1;
}

.editImg {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.post-item {
    position: relative;
    border: 2px solid #A4C392;
    border-radius: 15px;
    width: 60%;
    margin: 10px auto;
}
.title {
    margin: 0;
}
.body {
    margin: 20px 15px;
}
